name: engprot
services:
  backend:
    container_name: engprot_backend
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    restart: unless-stopped

  frontend:
    container_name: engprot_frontend
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
